<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
          <img src="../assets/svg/main-logo.svg" alt="Main Logo" class="w-10 h-10 text-white p-2 bg-gray-300 rounded-full" />
        <span class="ml-3 text-xl">Calculator</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900 md:drop-shadow-xl" href="/general">General</a>
        <a class="mr-5 hover:text-gray-900" href="/about">Money</a>
        <a class="mr-5 hover:text-gray-900" href="/time">Time</a>
        <a class="mr-5 hover:text-gray-900" href="/measurement">Measurement</a>
        <a class="mr-5 hover:text-gray-900" href="/coord">Coordinate</a>
        <a class="mr-5 hover:text-gray-900" href="/space">Space</a>
        <a class="mr-5 hover:text-gray-900" href="/manage">Data Management</a>
      </nav>
    </div>
  </header>

  