<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<header>
    <%- include('../partials/header') %>
</header>
<main>
    
</main>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>