<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head')  %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header')  %>
  </header>

  <main>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/general-calculator.jpg" alt="content">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">General</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/money.png" alt="content">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Money</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/time.png" alt="content">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Time</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/measurement.jpeg" alt="content">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Measurement</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/coordinate.png" alt="content">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Coordinate</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/space.jpeg" alt="content">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Space</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/data-management.png" alt="content">
              <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Data Management</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <%- include('../partials/footer')  %>
  </footer>

</body>

</html>