
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <style>
      .card {
        transition: background-color 0.4s, color 0.4s;
      }

      .card-hovered {
        background-color: #444;
        /* Change this to your desired hover background color */
        color: #fff;
        /* Change this to your desired hover text color */
      }

      .bg {
        background-image: url('../assets/images/background.jpg');
        background-position: center;
        background-size: cover;
        height: 100%;
      }
    </style>
</head>
<header>
  <%- include('../partials/header') %>
</header>
<main class="bg gap-4 bg-gray-200 flex justify-center items-center h-screen">
  <div class="xl:w-1/4 md:w-1/2 p-4">
    <a href="/tahun-1">
      <div class="bg-gray-100 p-6 rounded-lg card bg-opacity-70">
        <img class="h-40 rounded w-full object-cover object-center mb-6 " src="/assets/images/number.jpg"
          alt="content">
        <h2 class="text-lg font-medium title-font mb-4">Tahun 1</h2>
        <p class="leading-relaxed text-base">Pengenalan kepada tambahan dan penolakan nombor jurang 0-100.</p>
      </div>
    </a>
  </div>
  <div class="xl:w-1/4 md:w-1/2 p-4">
    <a href="/tahun-2">
      <div class="bg-gray-100 p-6 rounded-lg card bg-opacity-70">
        <img class="h-40 rounded w-full object-cover object-center mb-6 " src="/assets/images/math1.png"
          alt="content">
        <h2 class="text-lg font-medium title-font mb-4">Tahun 2</h2>
        <p class="leading-relaxed text-base">Pengenalan kepada darab dan bahagi nombor jurang 0-1000.</p>
      </div>
    </a>
  </div>
  <div class="xl:w-1/4 md:w-1/2 p-4">
    <a href="/tahun-3">
      <div class="bg-gray-100 p-6 rounded-lg card bg-opacity-70">
        <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/general-calculator.jpg" alt="content">
        <h2 class="text-lg font-medium title-font mb-4">Tahun 3</h2>
        <p class="leading-relaxed text-base">Pengenalan kepada semua operasi matematik dan nombor jurang 0-10000.</p>
      </div>
    </a>
  </div>
  <!--<div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg card">
              <a href="/time">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/time.png"
                  alt="content">
              </a>
              <h2 class="text-lgfont-medium title-font mb-4">Time</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery
                hexagon disrupt edison bulbche.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg card">
              <a href="/measurement">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/measurement.jpeg"
                  alt="content">
              </a>
              <h2 class="text-lg font-medium title-font mb-4">Measurement</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery
                hexagon disrupt edison bulbche.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg card">
              <a href="/coord">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/coordinate.png"
                  alt="content">
              </a>
              <h2 class="text-lg  font-medium title-font mb-4">Coordinate</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery
                hexagon disrupt edison bulbche.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg card">
              <a href="/space">
                <img class="h-40 rounded w-full object-cover object-center mb-6" src="/assets/images/space.jpeg"
                  alt="content">
              </a>
              <h2 class="text-lg  font-medium title-font mb-4">Space</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery
                hexagon disrupt edison bulbche.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-100 p-6 rounded-lg card">
              <a href="/manage">
                <img class="h-40 rounded w-full object-cover object-center mb-6"
                  src="/assets/images/data-management.png" alt="content">
              </a>
              <h2 class="text-lg font-medium title-font mb-4">Data Management</h2>
              <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery
                hexagon disrupt edison bulbche.</p>
            </div>
          </div>-->

  <script>
    const cards = document.querySelectorAll('.card');

    cards.forEach(card => {
      card.addEventListener('mouseenter', () => {
        // Remove the "card-hovered" class from all cards
        cards.forEach(c => {
          c.classList.remove('card-hovered');
        });
        // Add the "card-hovered" class to the hovered card
        card.classList.add('card-hovered');
      });

      card.addEventListener('mouseleave', () => {
        // Remove the "card-hovered" class from the card when the mouse leaves
        card.classList.remove('card-hovered');
      });
    });
  </script>
</main>
<footer>
  <%- include('../partials/footer') %>
</footer>


</html>